body{
    margin: 0;
    background-color: #f3f6ff;
}
.suporte{
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content: space-between ;
    background-color: black;
    align-items: center;
    color: #ff6f61;
    width: 100vw;
}
.logo{
    width: 10px;
    height: 10px;
}
.logoimg{
    border: solid 2px black;
    width: 30px;
    height: 30px;
    gap: 20px;
}
.email{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.tel{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.bn{
    text-decoration: none;
    color: #ffffffff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}
#l1{
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;   
    font-size: normal;
    font-size: 16px;
}
.navg{
    align-items: center;
    margin-top: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    gap:50px;
    list-style-type: none;
    writing-mode: horizontal-tb;
}
.barra{
    background-color: #ff6f61;
}
.l7{
   margin-left: 20vw;
   text-decoration: none;
   color: #ffffffff;
   align-items: center;
}
.header{
    margin-left: 30vh;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #ffffffff;
    height: 15vh;
    margin-top: 0;
}
#pesquisa{
    border: solid, 2px, #ff6f61;
    width: 30vw;
    height: 5vh;
}
.menupai{
    display: flex;
    height: 50vh;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px, 30px, 10px 30px;
}
.menu{
    background-color: #ffffffff;
    list-style-type: none; 
    width: 10vw;
    margin-left: 0;
    height: 10vh;
    margin-left: 20px;
    
}
.menuitem{
    text-decoration: none;
    border: solid, 2px, #f3f6ff;
    height: 5,5vh;
    color: #353535;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;

}
#imgmeio{
    width: 35vw;
    height: 40vh;
}
.imgfinal{
    width: 17,5vw;
    height: 20vh;
}
.imgchildren{
    margin-right: 30px;
    display:flex;
    flex-direction: column;
}
.Brand{
    display: flex;
    justify-content: space-evenly;
}
.logosecure{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 60px;
}
.ps{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #353535;
}
.hs{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}
.sc{
    background-color: #ffffffff;
}
.MainBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.pincel{
    display: flex;
    flex-direction: column;
}
.eletronicos{
    display: flex;
    flex-direction: column;
}
.imgpu{
    width: 30vh;
    height: 40vh;
}
.imgmr{
    height: 25vh;
}
.imgmn{
    height: 15vh;
}
.call{
    display: flex;
    justify-content: space-between;
    background-color:#ff6f61;
}
.branco{
    color: #ffffffff;
    margin-left: 40px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
}
.calltel{
    border: solid, 2px, #ffffffff;
    margin: 20px;
    margin-right: 40px;
    width: 15vw;
}
#ptel{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffffff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    
}
.title{
    color:#ff6f61;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    margin-left: 10vw;
}
.Produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    height: 50vh;
    border: solid, 1px, #353535;
    
}
.pname{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    color: #f3f6ff;
    background-color: black;
    width: 100%;
    height: 30%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}
.imgp{
    width: 100%;
    height: 60%;
}
.img{
    width: 100%;
    height: 100%;
}
.pp{
    display: flex;
    color: #f3f6ff;
    background-color: black;
    width: 100%;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}
.btn{
   color: black;
   background-color: #ff6f61;
   font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
}
.sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#ff6f61;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 24px;
    margin-top: 5vh;
}
.emailsub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    height: 5vh;
    border: solid, 2px,  #ffffffff;
}
.psqsub{
    height: 100%;
    border: solid,1px, #ffffffff;
}
.btnsub{
    color: #ffffffff;
    background-color: #ff6f61;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    border: solid,1px, #ffffffff;
}
.Customer{
    display: flex;
}
.Customer-G{
    display: flex;
    border: solid, 2px, #f3f6ff;
    margin-top: 5vh;
    margin-left: 10vw;
}
.infocus{
    background-color: #ffffffff;
    width: 35vh;
}
.textcus{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #888888;
    margin-left: 10px;
}
